---
import BaseLayout from "@/layouts/BaseLayout.astro";
const SEO = {
	title: "Marketing | Home",
	description: "Marketing",
};
---

<BaseLayout {SEO}>
	<section>
		<h1 class="text-5xl font-bold uppercase tracking-tight">Marketing</h1>
	</section>
</BaseLayout>
