---
import BaseLayout from "@/layouts/BaseLayout.astro";
const SEO = {
	title: "Development | Home",
	description: "Development",
};
---

<BaseLayout {SEO}>
	<section>
		<h1 class="text-5xl font-bold uppercase tracking-tight">Development</h1>
	</section>
</BaseLayout>
