---
import BaseLayout from "@/layouts/BaseLayout.astro";
const SEO = {
	title: "Development | Home",
	description: "Development",
};
---

<BaseLayout {SEO}>
	<section>Development</section>
</BaseLayout>
