---
import BaseLayout from "@/layouts/BaseLayout.astro";
const SEO = {
	title: "Design | Home",
	description: "Design",
};
---

<BaseLayout goBack={true} {SEO}>
	<section>
		<h1 class="text-5xl font-bold uppercase tracking-tight">Design</h1>
	</section>
</BaseLayout>
