---
import BaseLayout from "@/layouts/BaseLayout.astro";
const SEO = {
	title: "Management | Home",
	description: "Management",
};
---

<BaseLayout {SEO}>
	<section>
		<h1 class="text-5xl font-bold uppercase tracking-tight">Management</h1>
	</section>
</BaseLayout>
