---
import BaseLayout from "@/layouts/BaseLayout.astro";
const SEO = {
	title: "Management | Home",
	description: "Management",
};
---

<BaseLayout {SEO}>
	<section>Management</section>
</BaseLayout>
